# Predicting Income with Random Forests

In this project, we will be using a dataset containing census information from UCIâ€™s Machine Learning Repository.

https://archive.ics.uci.edu/ml/machine-learning-databases/adult/

## Investigate The Data

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
import sys
from sklearn.ensemble import RandomForestClassifier


income_data = pd.read_csv('adult_data.csv', header=0, delimiter=', ')

print(income_data.iloc[0])

# print(list(income_data[' native-country'][2]))
income_data.head(2)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

age                          39
workclass             State-gov
fnlwgt                    77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
income                    <=50K
Name: 0, dtype: object

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

## Changing Column Types

In [39]:
income_data["sex-int"] = income_data["sex"].apply(lambda row: 0 if row == "Male" else 1)
income_data["country-int"] = income_data["native-country"].apply(lambda row: 0 if row == "United-States" else 1)

 ## Format The Data For Scikit-learn

In [40]:
labels = income_data[['income']]

data = income_data[["age", "capital-gain", "capital-loss", "hours-per-week", "sex-int", "country-int"]]


train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state=1)

## Create The Random Forest

In [41]:
forest = RandomForestClassifier(random_state=1)
forest.fit(train_data, train_labels)
forest.score(test_data, test_labels)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8225033779633951